/* * {
    box-sizing: border-box;
} */
body {
    background-color: #f8f5ff;
}

.container {
    max-width: 1280px;
    margin: auto;
}

body {
    font-family: Inter;
    margin: 0;
    padding: 0;
}

header {
    margin: 20px 150px 0 130px;

}

/* nav option */
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;

}

nav img {
    max-width: 90%;
}

.nav-option ul {
    display: flex;
    gap: 40px;
}

.nav-option ul li {
    list-style: none;
}

.nav-option ul li a {
    text-decoration: none;

}

.home {
    color: rgb(37, 36, 50);
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    /* line-height: 24px; */
}

.shop,
.about-us {
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;

}

.cart {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

/* banner */
.banner {
    display: flex;
    align-items: center;





}

.banner-description {
    padding-top: 150px;




}

.fresh {
    color: rgb(233, 90, 8);
}

.banner-des-title {
    color: rgb(0, 0, 0);
    font-family: "Noto Serif", serif;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 0;


}

.banner-title-des {
    color: rgb(137, 135, 161);
    /* width: fit-content; */
    margin-top: 18px;
    max-width: 80%;
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 0%;
}

.banner-image {

    width: 100%;
    height: 50%;
    padding-top: 100px;


}

/* plant-section */


/* plants-section {
    margin-top: 870px;
} */

.heading {
    text-align: center;
}

.heading-title {
    font-family: Noto Serif;
    font-size: 50px;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 0px;
    margin-bottom: auto;
}

.heading-title span {
    color: rgb(233, 90, 8);
}

.heading-desc {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 19px;
    font-weight: 400;
    line-height: 27px;
    /* max-width: 80%; */
    text-align: center;
    padding-left: 19%;
    padding-right: 19%;
}

.plants-flower {
    text-align: center;


}

.flower-price {
    margin-bottom: 18px;
    margin-top: 14px;
}

.plants-flower img {
    height: auto;
    width: 100%;
}

.flower-title {
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: auto;

}

.flower-price {
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
}

.plants-section button {
    color: rgb(255, 255, 255);
    background-color: rgb(233, 90, 8);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 50px 25px 50px;
    border: none;
    width: 299px;
    height: 55px;
}

.plant-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 20px;
}

/* plant-lover-section */
.plant-lover {
    display: flex;
    margin-top: 200px;
    position: static;
    gap: 85px;
}

.main-image {
    width: 540px;
    height: 597px;
    /* position: relative; */
}

.badge img {
    position: relative;
    width: 50%;
    height: 50%;
    left: 365px;
    top: -705px;
}

.right-title {
    color: rgb(0, 0, 0);
    font-family: Noto Serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 68px;
    margin-bottom: 30px;
}

.right-des {

    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    max-width: 100%;
    display: grid;
    gap: 16px;
}

/* deal section */
.deal-section {
    margin-top: 130px;
    text-align: center;
}

.deal-title {
    font-family: Noto Serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 68px;
    text-align: center;
    margin-bottom: 25px;
}

.deal-text {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 100px;
    text-align: center;
}


.deal-title span {
    color: rgb(233, 90, 8);
}

.deal-image {
    display: flex;
    margin-bottom: 40px;
    gap: 40px;


}

.deal-image-left {
    flex: 25%;
}

.deal-image-left-1st {
    color: white;
    background-image: url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    border: 2px solid rebeccapurple;
    max-width: 100%;
    max-height: 100%;
}

.deal-image-left-2nd {
    color: white;

    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    border: 2px solid rebeccapurple;
    max-width: 100%;
    max-height: 100%;
}

.deal-image-left-right {
    color: white;
    flex: 100%;
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    border: 2px solid rebeccapurple;
    max-width: 100%;
    max-height: 100%;
}

/* join now section */
.join {
    background-image: url(../assets/news-letter-bg.png);
    max-height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* padding: 190px 300px 190px 300px; */
}

.join-title {
    color: rgb(255, 255, 255);
    font-family: Noto Serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 68px;
    padding: 199px 305px 15px 305px;
    margin-top: 0;
    margin-bottom: 10px;
}

.join img {
    max-width: 100%;
    max-width: 100%;
}

.emlai-button {
    display: flex;
    gap: 0;
    text-align: center;
    justify-content: center;

}

.emlai-button input {
    /* padding: 8px 20px 8px 20px; */
    width: 644px;
    height: 50px;
    border: none;
    padding: 8px 20px 0 20px;
    margin-bottom: 200px;

}

.emlai-button button {
    background-color: rgb(233, 90, 8);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;

    border: none;
    width: 186px;
    height: 58px;
}

/* footer section */
.footer-section {
    display: flex;
    /* text-align: center; */
    /* align-items: center; */
    justify-content: center;
    gap: 100px;
    margin: 70px 150px 45px 150px;

}

.footer-left {
    flex: 1;
}

.footer-left p {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

.footer-middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex: 1;
    grid-column: 100px;

}

.footer-middle li {
    list-style: none;
}

.footer-middle a {
    text-decoration: none;
    color: rgb(107, 114, 128);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.footer-middle ul li {
    margin-bottom: 30px;
}

.footer-end {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

/* .twitter-main {
    position: fixed;

} */

.twitter {
    height: 22px;
    padding-top: 9px;
}

/* responsive */
@media screen and (max-width:576px) {
    /* body {

        margin: 0;
        padding: 0;
    } */

    header {
        margin: 20px 20px;
    }

    nav img {
        max-width: 100%;
        height: 100%;
        display: inline-block;
    }

    /* nav img {
        max-width: 100%;
        max-height: 100%;
    } */

    .home,
    .shop,
    .about-us {
        display: none;

    }

    .banner {
        flex-direction: column-reverse;
        /* align-items: center; */
        /* text-align: center; */
    }

    .banner-description {
        padding-top: 50px;
    }


    .banner-image {
        /* margin-left: 10.12%; */
        padding-top: 0;
        width: 100%;
        height: auto;
        display: block;
    }


    .banner-des-title {
        margin-top: 0;
        padding-top: 0;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 0;
    }

    .banner-title-des {
        font-size: 15.5px;
        font-weight: 400;
        max-width: 100%;
    }

    /* plant section */
    plants-section {
        max-width: 100%;
        max-height: 100%;

    }

    .plants-section img {
        max-width: 100%;
    }

    .plant-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* row-gap: 30px;
        column-gap: 20px; */
    }

}